@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.container {
  margin: 20 auto;
  padding: 20px 50px;
}

.img-circle {
  border-radius: 50%;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.card-white {
  background: white;
  margin: 40px auto;
  width: 80vw;
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(183, 201, 217);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: rgb(79, 109, 122);
  font-size: 20px;
  line-height: normal;
}

h1, h2, h3 {
  color: rgb(22, 96, 136);
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 35px;
  line-height: 130%;
}

h2 {
  font-size: 30px;
  line-height: 120%;
}

h3 {
  font-size: 25px;
  line-height: 110%;
}

a {
  color: rgb(74, 111, 165);
  text-decoration: none;
}

a:hover {
  background-color: gold;
}
